* {
    font-size: medium;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    min-height: 100vh;
    /* Set height of cross-axis*/
    margin: 5;
}

h2 {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(138, 165, 138);
    background-color: darkblue;
}

.col-1 {
    background: lavender;
    flex: 1;
    color: red;
    font-size: 20px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 6;
    /* Set the space for column 2*/
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.content {
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
}

.content>article {
    background: yellow;
    flex: 3;
    min-height: 20vh;
    border: 5px solid green;
}

header, footer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    font-weight: bold;
    padding: 10px;
    background: yellowgreen;
    font-size: 30px;
}

header, footer, article, nav {
    padding: 1em;
}